<!DOCTYPE HTML>
<html>
	<head>
		<title>Java on the Pi</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/assets/css/main.css" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1><a href="#">Java on the Pi</a></h1>
			</header>

		<!-- Banner -->
			<section id="banner">
				<i class="icon fa-coffee"></i>
				<h2>IoT Session 2</h2>
				<p>Running java on the Pi: An example</p>
				<ul class="actions">
					<li><a href="https://github.com/ordina-oraj/IoT/tree/master/Java-on-the-Raspberry-Pi" class="button big special">See it on github</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img id="imgDice" src="/images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h2>Let's roll those dice!</h2>
							<p>This button below will let you roll the dice of destiny, are you brave enough?</p>
							<ul class="actions">
								<li>
									<a id="btnRoll" class="button alt">Roll</a>
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="/images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h2>TODO: Impress me!</h2>
							<p>Make a new service in the backend, call it from javascript when the button is pressed and show the results here!</p>
							<ul class="actions">
								<li>
									<a id="btnImpressMe" class="button alt">???</a>
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper special">
				<div class="inner">
					<header class="major narrow">
						<h2>Such technologies</h2>
						<p>A list of some of the tech that can run on the Pi</p>
					</header>
					<div class="image-grid">
						<a href="#" class="image"><img src="/images/pic03.jpg" alt="" /></a>
						<a href="#" class="image"><img src="/images/pic04.jpg" alt="" /></a>
						<a href="#" class="image"><img src="/images/pic05.jpg" alt="" /></a>
						<a href="#" class="image"><img src="/images/pic06.jpg" alt="" /></a>
					</div>
					<ul class="actions">
						<li><a href="https://www.raspberrypi.org/resources/learn/" class="button big alt">I want to learn!</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style3 special">
				<div class="inner">
					<header class="major narrow	">
						<h2>Precious resources</h2>
						<p>You can view and download a copy of the slides from this session below</p>
					</header>
					<ul class="actions">
						<li><a href="https://docs.google.com/presentation/d/1mICxdhAaE3qSMqyVx-EFSr0odaaSMYCmxfPiX5F4Mek/edit?usp=sharing" class="button big alt">I want to see the slides</a></li>
					</ul>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
                    <h2>Brought to you by:</h2>
                    <p>CC IoT</p>

					<ul class="icons">
						<li><a href="https://www.facebook.com/lifeatordinabe/?fref=ts" class="icon fa-facebook">
							<span class="label">Facebook</span>
						</a></li>
						<li><a href="https://twitter.com/lifeatordinabe" class="icon fa-twitter">
							<span class="label">Twitter</span>
						</a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; Ordina Belgium.</li>
						<li>Design: <a href="http://templated.co">TEMPLATED</a>.</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/skel.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
			//TODO: Add your javascript in this file
			<script src="/assets/js/services.js"></script>
	</body>
</html>